<launch>
    <!-- Rosbridge WebSocket Server -->
    <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_websocket" output="screen">
        <!-- Opsiyonel: WebSocket portu ayarlama -->
        <param name="port" value="9090" />
    </node>

    <!-- Navigation with Web -->
    <node pkg="bitirme" type="navigation_with_web.py" name="navigation_with_web" output="screen">
        <!-- Opsiyonel: Özel parametreler ekleyebilirsiniz -->
    </node>
</launch>
